{% assign post = include.post %}
{% assign include_email = include.include_email %}

{%- if post.authors -%}
<span class="multiple-authors">
        <span>
        {%- for author_id in post.authors -%}
            {% assign author = site.data.authors[author_id] %}
        {%- endfor -%}
        </span>
        <span class="author" itemprop="name">
        {%- for author_id in post.authors -%}
            {% assign author = site.data.authors[author_id] %}
            {{ author.name }}{% if forloop.last == false %}, {% endif %}
        {%- endfor -%}
        </span>
    </span>
{%- elsif post.author -%}
    <span class="single-author">
        {% assign author = site.data.authors[post.author] %}
        {%- if author.username  -%}
        {%- endif -%}
        {%- if include_email -%}
        <span class="author" itemprop="name">{{ author.name }}</span>
        {%- else -%}
        <span class="author" itemprop="name">{{ author.username }}</span>
        {%- endif -%}
    </span>
{%- endif -%}