{%- assign where = include.where -%}

{% capture container_content %}
{% if where == "about" %}
{% assign bg_img = '/assets/images/oioso_logo_by_ai.png' | relative_url %}
<div class="site-heading">
    <h1>About "OIOSO"</h1>
    <span class="subheading">This is what we do.</span>
</div>
{% elsif where == "post" %}
{% assign bg_img = '/assets/images/home-bg.jpg' | relative_url %}
<div class="site-heading">
    <h1>{{ page.title }}</h1>
    <span class="subheading">
        <time class="dt-published" datetime="{{ include.date | date: date_format }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
        </time>
        •{% include author.html post=page avatar_size=40 %}
    </span>
</div>
{% else %}
{% assign bg_img = '/assets/images/home-bg.jpg' | relative_url %}
<div class="site-heading">
    <h1>OIOSO(응소) <span>TECH BLOG</span></h1>
    <span class="subheading">{{ site.description | escape }}</span>
</div>
{% endif %}
{% endcapture %}

<header class="masthead" style="background-image: url({{ bg_img }})">
    <div class="container" >
        {{ container_content }}
    </div>
</header>
