{%- assign where = include.where -%}
{%- if where == "home" -%}
<header class="masthead" style="background-image: url('assets/images/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ site.title | escape }}</h1>
                    <span class="subheading">{{ site.description | escape }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{%- endif -%}
{%- if where == "about" -%}
<header class="masthead" style="background-image: url('assets/images/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>About OIOSO</h1>
                    <span class="subheading">This is what we do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{%- endif -%}
