{%- assign where = include.where -%}

{% if where == "home" %}
<header class="masthead" style="background-image: url({{ '/assets/images/home-bg.jpg' | relative_url}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="d-grid">
            <div class="mx-auto col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ site.title | escape }}</h1>
                    <span class="subheading">{{ site.description | escape }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% elsif where == "about" %}
<header class="masthead" style="background-image: url({{ '/assets/images/oioso_logo_by_ai.png' | relative_url}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="d-grid">
            <div class="mx-auto col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>About "OIOSO"</h1>
                    <span class="subheading">This is what we do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% elsif where == "tag" %}
<header class="masthead" style="background-image: url({{ '/assets/images/tag-bg.jpg' | relative_url}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="d-grid">
            <div class="mx-auto col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Tag::{{ page.tag }}</h1>
                    <span class="subheading">관련 태그 모음입니다.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% elsif where == "post" %}
<header class="masthead" style="background-image: url({{ '/assets/images/home-bg.jpg' | relative_url}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="d-grid">
            <div class="mx-auto col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <span class="subheading">
                        <time class="dt-published" datetime="{{ include.date | date: date_format }}" itemprop="datePublished">
                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                            {{ page.date | date: date_format }}
                        </time>
                        •{% include author.html post=page avatar_size=40 %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}
