<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <div class="d-flex align-items-center">
            <img class="site-logo" src="{{ site.asset_url | relative_url }}/images/oio.svg" alt="logo" />
            <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        {%- if page_paths -%}
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ my_page.url | relative_url }}">
                        {{ my_page.title | escape }}
                    </a>
                </li>
                {%- endif -%}
                {%- endfor -%}
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="https://kr.contec.kr/gwbbs/gw_page18.php?ti=cate4&me_co=4010">
                        CAREER
                    </a>
                </li>
            </ul>
        </div>
        {%- endif -%}
    </div>
</nav>
