{%- assign post = include.post -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="post-preview" {%- if post.tags -%}{%- for tag in post.tags -%}data-{{tag}}{%- endfor -%}{%- endif -%}>
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    <a href="{{ post.url | relative_url }}">
        <h2 class="post-title">{{ post.title | escape }}</h2>
        {%- if site.show_excerpts -%}
        <h3 class="post-subtitle">{{ post.excerpt }}</h3>
        {%- endif -%}
    </a>
    <p class="post-meta">
        {%- for tag in post.tags -%}
        <a href="{{ '/' | relative_url }}t/{{ tag | downcase | replace: ' ', '-' }}">
            #{{ tag }}
        </a>&nbsp;
        {%- endfor -%}
    </p>
    <p class="post-meta">
        Posted by
        {% include author.html include_email=false %}
        on <time>{{ post.date | date: date_format }}</time>
    </p>
</div>
