{%- assign post = include.post -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
<li>
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <span class="post-meta" style="padding-left: 20px;">
          {%- for tag in post.tags -%}
            <a href="{{ '/' | relative_url }}t/{{ tag | downcase | replace: ' ', '-' }}">
              #{{ tag }}
            </a>&nbsp;
          {%- endfor -%}
    </span>
    <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
        </a>
    </h3>
    <div class="post-meta">
        {% include author.html include_email=false %}
        Posted on <time>{{ post.date | date: date_format }}</time>
    </div>
    {%- if site.show_excerpts -%}
    <div class="post-excerpt">{{ post.excerpt }}</div>
    {%- endif -%}
</li>