---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {% for tag in site.data.tags %}
  <span class="tag" data-tag="{{tag}}"><a href="{{ '/' | relative_url }}t/{{ tag | downcase | replace: ' ', '-' }}">{{ site.data.format[tag] }}</a></span>
  {% endfor %}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {% include post-tile.html post=post %}
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>

<script>
$('[data-tag]').click((e) => {
  currentTag = e.target.dataset.tag;
  filterByTagName(currentTag);
});

function filterByTagName(tagName) {
  $('.hidden').removeClass('hidden');
  $('.post-wrapper').each((index, elem) => {
    if (!elem.hasAttribute(`data-${tagName}`)) {
      $(elem).addClass('hidden');
    }
  });

  $('.tag').removeClass('selected');
  $('.tag[data-tag=${tagName}]').addClass('selected');
}
</script>